body{
    background-color: lightgray;
} 
h1{
    font-size: 10em;
   text-align: center;
}

.contact{
    text-decoration: none;
    font-size: 3em;
}
ul{
    font-size: 5em;
    font-weight: 600;
}
ul,
.contact,
h1{
    font-family: monospace;
}
