h1{
   font-size: 10em;
   text-align: center;
}
body{
    background-color: lightgray;
}
.contact{
    text-decoration: none;
    font-size: 3em;
}
ul{
    font-size: 5em;
    font-weight: 900;
}
ul,
.contact,
h1{
    font-family: monospace;
}
