.flexbox{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
    align-content: space-between;
}
.flexbox>*{
    flex: 1 0 100vw;
}
header,
nav,
footer {
    border: solid 1px black;
}