body{
    background-color:lightgrey;
}
h1{
    font-size: 10em;
    text-align: center;
    font-weight: 900;
    color:black;   
}
h1,
a,{
    font-family: monospace;
}

a{
    text-decoration: none;
    font-size: 5em;
}
.color{
    color: white;
}

