body{
    background-color: #d5d6d2;
    font-family: monospace;
    background-image: url("image/bb.jpg");
}
nav {
    text-align: center;
}
h1{
    font-size: 12em;
    text-align: center;
    font-weight: 900; 
}
a{
    text-decoration: none
}

.button{
    font-size: 5em;
    border-style: solid;
    border-color: #756867;
    display: inline-block;
    background-color: #756867;
    margin: 25px;    
}

.button:link,
.button:visited{
    color:#353c3f;
}
.button:hover{
    color: #ff8d3f;
}
footer{
    text-align: center;
}

#title:link,
#title:visited{
    color: #353c3f;
}
#title:hover{
    color: #4f5658;
}
.flexbox{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
    align-content: space-between;
}
.flexbox>*{
    flex: 1 0 100vw;
}
.nav-flexbox{
    display: flex;
    justify-content: center;
}
header,
nav,
footer {
    border: solid 1px rgb(126, 126, 126);
}
