body{
    background-color:lightgrey;
    font-family: monospace;
}
h1{
    font-size: 12em;
    text-align: center;
    font-weight: 900;
    color:black;   
}

a{
    text-decoration: none;
    font-size: 5em;
    border-style: solid;
}
.color{
    color: white;
}
footer{
    text-align: center;
}

