
body{
    background-color: lightgray;
    font-family: monospace;
}
h1{
    font-size: 10em;
    text-align: center;
}
a{
    font-size: 3em;
    text-decoration: none;
}
.color{
    color: white;
}
footer{
    text-align: center;
}