body{
    background-color: #d5d6d2;
    ;
}
header,
section{
    font-size: 2em;
    color: #353c3f;
}
#color{
    color: #ff8d3f;
}
nav a{
    text-decoration: none;
    font-size: 3em;
    font-family: monospace;
}
footer{
    text-align: center;
}
