body{
    background-color: #d5d6d2;
    background-image: url("image/bb.jpg");    
}
nav{
    text-align: center;
}
section{
    font-size: 2em;
    color: #353c3f;
}
#color{
    color: #ff8d3f;
}
nav a{
    text-decoration: none;
    font-size: 3em;
    font-family: monospace;
    border-style: solid;
    border-color: #756867;
    display: inline-block;
    background-color: #756867;
    margin: 3px;
}
footer{
    text-align: center;
}
h1{
    font-size: 10em;
    text-align: center;
    font-family: monospace;
    color: #353c3f;
}
