h1{
    font-size: 10em;
    text-align: center;
    font-weight: 900 ;
    font-family: monospace;
    color:black;
    
}

body{
    background-color:lightgrey;
}
a{
    text-decoration: none;
    font-family: monospace;
    font-size: 5em;
}

